{% extends "base.html" %}

{% load staticfiles %}
{% load display %}

{% block css %}
    <style type="text/css">
.value {
    font-family: monospace;
    background: #EEE;
}

.CodeMirror {border: 1px solid black; font-size:13px}
     </style>
    <link rel="stylesheet" href="{% static "cm/codemirror.css" %}">
{% endblock %}

{% block js %}
<script src="{% static "cm/codemirror.js" %}"></script>
<script src="{% static "cm/xml.js" %}"></script>
{% endblock %}

{% block content %}
<form method="get" action="{% url 'document_list' %}">
  <p>
    <label for="id_q">search:</label><input id="id_q" name="q" type="text" />
    <input type="submit" value="search">
  </p>
</form>

<h2>{{ document.name }} (<a href="{% url "download" document.id %}">Download</a>)</h2>
    <hr/>
    <dl>
	    <dt>filename:</dt><dd>{{ document.filename }}</dd>
        <dt>created:</dt><dd>{{ document.created }}</dd>
    </dl>
    <textarea id="document-xml" class="value" cols="80" rows="40" readonly="true">{{ document.contents|as_xml }}</textarea>
<script>
      var editor = CodeMirror.fromTextArea(
	  document.getElementById("document-xml"),
	  { mode: "xml", readOnly: true });
</script>
{% endblock %}
