{% extends 'base.html' %}

{% load staticfiles %}
{% load facet_tags %}

{% block css %}
<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.css" %}">
<link rel="stylesheet" href="{% static "css/facetview.css" %}">
<style type="text/css">

.container {
    height: 1%;
}

dd {
    font-size: small;
}

.leftpanel {
    float: left;
    padding: 5px;
    width: 200px;
    border: 1px solid black;
}
.mainpanel {
    padding: 5px;
    margin-left: 210px;
}
.highlighted {
    background: #faa732;
    padding: 2px;
}
.searchresult > a * {
    display: inline;
}
.searchresult {
    margin-bottom: .75em;
}

.facetclass, .resultlist {
    list-style: none;
}
</style>
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "linkify/1.0/jquery.linkify-1.0-min.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-ui-1.8.18.custom/jquery-ui-1.8.18.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.facetview.js" %}"></script>

<script type="text/javascript">
var showfiltervals = function(event) {
    event.preventDefault();
    if ( $(this).hasClass('facetview_open') ) {
        $(this).children('i').removeClass('icon-minus');
        $(this).children('i').addClass('icon-plus');
        $(this).removeClass('facetview_open');
        $('[id="facetview_' + $(this).attr('rel') +'"]').children().find('.facetview_filtervalue').hide();
        $(this).siblings('.facetview_filteroptions').hide();
    } else {
        $(this).children('i').removeClass('icon-plus');
        $(this).children('i').addClass('icon-minus');
        $(this).addClass('facetview_open');
        $('[id="facetview_' + $(this).attr('rel') +'"]').children().find('.facetview_filtervalue').show();
        $(this).siblings('.facetview_filteroptions').show();
    }
};
</script>

{% endblock %}

{% block content %}
<form method="get" action=".">
    <p>
    {{ form }}
    <input type="submit" value="Search">
    </p>

    <!-- Begin faceting. -->
    <div style="clear:both;" class="btn-toolbar" id="facetview_selectedfilters">
    </div>
    <div class="leftpanel facetpane">
        <h2>Facets (<a href="?q={{form.fields.q.data}}">reset</a>)</h2>
        <hr>
        {% for fclass, fvalues in facets %}
        {% if fvalues %}
        <ul class="facetclass">
            {% for facet in fvalues %}
            <li class="facetvalue">
            {% if facet.applied %}
            <input type="hidden" name="{{fclass.param}}" value="{{facet.value}}"/>
            <span class="selected-filter">
                {{facet.render}} <a class="remove-filter"
                    href="{{request.get_full_path|removeparam:facet.as_param_kv|stripparam:"page,sort"}}">
                    <i class="icon-remove"></i>
                </a>
            </span>
            {% else %}
            <a href="{{request.get_full_path|addparam:facet.as_param_kv|stripparam:"page,sort"}}">
                {{facet.render}}
                ({{facet.count}})
            </a>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
    </div>

    <script type="text/javascript">
$('.facetview_filtershow').bind('click',showfiltervals);
    </script>
    <!-- End faceting -->

    <div class="container">
        <div class="mainpanel">
            {% if page.paginator.num_pages > 1 %}
            <div class="pagination">
                <ol>
                    {% for r in page|pagination_range:3 %}
                        {% for p in r %}
                            {% if p == page.number %}
                                <li class="disabled"><a>{{p}}</a></li>
                            {% else %}
                                {% with "page"|format_param_kv:p as param %}
                                    <li><a href="{{request.get_full_path|stripparam:"page"|addparam:param}}">{{p}}</a></li>
                                {% endwith %}
                                {% if forloop.last and p != page.paginator.num_pages %}
                                    <li class="disabled"><a>...</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ol>
            </div>
            {% endif %}


            <ol class="resultlist">
                {% for result in page.object_list %}
                <li>
                <a href="{% url "document" result.id %}">{{ result.id }}</a>
                <div>
                    {{ result.text }}
                </div>
                </li>
                {% empty %}
                <li>No results found.</li>
                {% endfor %}
            </ol>

        </div>
    </div>
</form>
{% endblock %}
