<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    {% load staticfiles %}

    <title>Cendari Facetted Search</title>
    <style type="text/css" href="{% static "css/base.css" %}"></style>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
  </head>
  <body>
      <h1>
          <a href="{% url "document_list" %}">
              <img src="{%static "img/cendari_logo.png" %}"alt="Cendari logo"/>
          </a>
          Cendari Faceted Search
      </h1>
    {% block content %}{% endblock %}
  </body>
</html>
